.icon-roket {
  background-image: url(../ico/servise-rocket.jpg);
}
.icon-web {
  background-image: url(../ico/servise-web.jpg);
}
.icon-blog {
  background-image: url(../ico/servise-blog.jpg);
}
.icon-mobile {
  background-image: url(../ico/servise-mobile.jpg);
}
